.icon {
    font-size: 30px;
    padding-top: 6px;
    display: inline-block;
    vertical-align: middle;
}
  
.move {
    background-color: #fff;
    margin: 0 24px;
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.inline {
    display: inline-block; /*use flex*/
}